body{
    background-color: rgb(255, 196, 211);
}


.user-card {
    background-color: rgb(166, 191, 192);
  border: 5px double #000000;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
}

.user-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}